@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700, 800');




body {
  background: #ffffff;
  color: #7d7d7d;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight:600;
  line-height: 2;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: transparent;
background-color: transparent;
}

.navbar-default {
background-color: transparent;
border-color: transparent;
}

.navbar-default .navbar-brand {
color: #ff2b4a;
text-transform: uppercase;
font-weight: bold;
font-style: italic;
}

.navbar-default .navbar-brand:hover {
color: #ff2b4a;
}




section#hero{
	background: linear-gradient(rgba(115, 2, 30, 0.5), rgba(115, 2, 30, 0.5)), url('/images/hero.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 200px 0px 200px 0px;
}

section#hero h2{
	color: #fff;
	font-size: 2.8em;
	font-weight: bolder;
	text-transform: uppercase;
}

section#hero p{
	font-size: 1.4em;
	color: #fff;
}

section#hero h2:before{
	content: "";
	height: 1px;
	width: 50%;
    display: block;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 8px;
    margin-top: 8px;
}

section#hero h2:after{
	content: "";
	height: 1px;
	width: 50%;
    display: block;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 8px;
    margin-top: 8px;
}

#abot{
	padding: 50px 0px 50px 0px;
	
}

section#abot h3{
	font-weight: bold;
	font-size: 18px;
	padding: 5px 0px 5px 0px;
}
section#abot p{
	padding: 5px 0px 5px 0px;
}

section#abot .btn{
	background-color: #ff2b4a!important;
	border-radius: 0px!important;
	border-color: #ff2b4a!important;
	font-size: 15px!important;
	padding: 8px 45px 8px 45px!important;
	
}

section#abot .btn:hover{
	background-color: transparent!important;
	color:#ff2b4a!important;
	
}

section#abot .fa{
	margin-right: 2px;
}


section#skill{
	padding: 50px 0px 50px 0px;
	background-color: #f6f6f6;
	
}

section#skill h3{
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 1.8em;
}

section#skill .shaw{
	margin: 0 auto;
}

section#skill .div-1{
	background-color: #ff2b4a;
	width: 31%;
	margin-right: 2%;
	margin-bottom: 20px;
	opacity: 0.8;
	color: #fff;
}
section#skill .div-1#one{
	background-color: #10c6fc;
	
}
section#skill .div-1#two{
	background-color: #f1c40f;
	
}
section#skill .div-1#three{
	background-color: #002453;
	
}
section#skill .div-1#four{
	background-color: #3498db;
	
}
section#skill .div-1#five{
	background-color: #16a085;
	
}
section#skill .div-1#six{
	background-color: #8e44ad;
	
}




section#skill .div-1 h4{
	padding: 5px 0px 5px 0px;
	text-transform: uppercase;
	font-size: 1.5em;
}

section#skill .div-1 .fa{
	font-size: 40px;
	padding: 10px 0px 5px 0px;
}


section#back{
	padding: 50px 0px 50px 0px;
    color: #fff;
	
}

section#back .educ{
	background-color: #66657d;
	padding: 20px 0px 20px 0px;
	margin: 10px 0px 10px 0px;
	
}

section#back .educ h4{
	margin-left: 10px;
	font-size: 1.6em;
	font-weight: bold;
}

section#back .educ p, section#back .job p{
	margin-right: 5%;
}
section#back .job{
	background-color: #66657d;
	padding: 20px 0px 20px 0px;
	margin: 10px 0px 10px 0px;
	
}
section#back .job h4{
	margin-left: 10px;
	font-size: 1.6em;
	font-weight: bold;
}
#cont{
	margin-left: 5%;
}


.hr:after{
	content: "";
	height: 1px;
	width: 98%;
    display: block;
	background-color: #fff;
	margin-bottom: 8px;
    margin-top: 8px;
}

#cont h5{
	font-size: 1.2em;
	font-weight: bolder;
}

section#act{
	padding: 50px 0px 50px 0px;
	background-color: #f6f6f6;
	
}

section#act h3{
	margin-bottom: 7%;
	font-size: 1.8em; 
	text-transform: uppercase;
}
section#act .btn{
	background-color: #ff2b4a;
	border-radius: 0px;
	border-color: #ff2b4a;
	font-size: 15px;
	padding: 8px 45px 8px 45px;
	
}

section#act .btn:hover, section#contact .mmg-btn:hover, section#abot .btn:hover{
	background-color: transparentimportant;
	border: 1px solid #ff2b4aimportant;
	color: #ff2b4aimportant;

}

section#act .actb{
	margin: 0 auto;
}


.thumbnail{
	border-radius: 0px;
	background-color: transparent;
	border: none;
}

.thumbnail img{
	width: 100%;
}

.thumbnail p{
	background-color: #ffffff;
	color: #333;
	font-weight: lighter;
	padding: 10px;
}


section#quote{
	padding: 50px 0px 50px 0px;
	background-color: #64cbc0;
	
}

section#quote h3{
	margin-bottom: 30px;
}

section#quote .fa{
	font-size: 40px;
}

section#quote p{
	color: #000;
}

section#quote h6{
	margin-top: 7%;
	font-style: italic;
	font-weight: bold;
	font-size: 15px;
}

section#quote span{
	color: #000;
	font-weight: bold;
	font-style: italic;
}

section#quote h6{
	color: #000;
	font-style: italic;
	font-weight: bold;
	font-size: 1.4em;
}

section#contact{
	padding: 50px 0px 50px 0px;
	background: url('../images/contact.png');
	background-size: cover;
	background-attachment: fixed;
}

section#contact textarea{
	min-height: 200px;
	max-height: auto;
	max-width: 100%;
	min-width: 100%;
}

:moz-placeholder{
	color: #ffffff!important;
	font-weight: lighter;
}

::-webkit-input-placeholder{
	color: #ffffff!important;
	font-weight: lighter;
}

::moz-placeholder{
	color: #ffffff!important;
	font-weight: lighter;
}

:ms-input-placeholder{
	color: #ffffff!important;
	font-weight: lighter;
}


section#contact .frm{
	background-color: #4c637d;
	opacity: 0.7;
	padding-bottom: 100px;
	padding-top: 30px;
	margin-bottom: 10px;
}

section#contact h2{
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	padding: 20px 10px 20px 20px;
}

section#contact .fa{
	margin-right: 4px;
	color: #fff;
}

section#contact .phn .fa, section#contact .web .fa{
	margin-right: 4px;
	color: #ff2b4a;
}


.form-group {
	width: 90%;
	margin-right: 6%;
	margin-left: 4%;
}

.form-group {
margin-bottom: 15px;
width: 90%;
margin-right: 5%;
margin-left: 5%;
}
section#contact .form-control{
	border-radius: 0px;
	background-color: #5f657e;
	border: 1px solid #fff;
	color: #fff;
	font-weight: lighter;
}

section#contact .mmg-btn{
	background-color: #ff2b4a;
	border: 1px solid #ff2b4a;
	border-radius: 0px;
	padding: 8px 45px 8px 45px;
}

section#contact .btn .mmg-btn:hover{
	background-color: transparentimportant;
	border: 1px solid #ff2b4aimportant;
	color: #ff2b4aimportant;

}

section#contact .phn{
	background-color: #4c637d;
	padding-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	opacity:0.75;
	
}

section#contact .web{
	background-color: #4c637d;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 10px;
	opacity: 0.75;
}

section#contact .web h3, section#contact .phn h3{
	color: #fff;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 20px 0px 10px 20px;
	margin-top: 10px;
}

section#contact .web span, section#contact .phn span{
	color: #fff;
	padding: 5px 0px 20px 30px;
	bottom: 20px;
	font-size: 15px;
	line-height: 40px;
	font-weight: lighter;
}

.error{
	color: red;
}
.success{
	color: green;
}

section#footer{
	padding: 30px 0px 30px 0px;
	background-color: #222222;
}

section#footer p{
	color: #fff;
	font-size: 1.2em;
	margin: 0% 2% 0% 2%;

}

section#footer p span{
	font-size: 1.4em;
	color: #ff2b4a 
}



@media(max-width: 768px){
	section#skill .div-1{
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}
}







